.box-1 {
    width: 100%;
    min-height: 80vh;
    padding: 100px;
    margin-bottom: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
}

.box-1 {
    width: 100%;
    min-height: 80vh;
    padding: 100px;
    margin-bottom: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
}

.img-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    clip-path: ellipse(100% 100%);
}

.margauto {
    margin: auto;
}

.home {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    display: inline;
}

